In [1]:
import analitico
import analitico.plugin
import s24.plugin

import pandas as pd
pd.options.display.max_columns = None
pd.options.display.max_rows = 40

# pass api token to create factory
factory = analitico.authorize("tok_demo2_xaffg23443d1")

def sample(df):
    return df.sample(n=6)

In [2]:
action = "train"

## Load orders

In [3]:
# read orders
plugin = factory.get_plugin(**{
    "type": "analitico/plugin",
    "name": "analitico.plugin.DatasetSourcePlugin",
    "source": {
        "dataset_id": "ds_s24_order"
    }
})
orders = plugin.run(action=action)
sample(orders)

,id,store_id,customer_id,courier_id,picker_id,fulfillment_type,status,deliver_at_start,deliver_at_end,amount,volume,delivery_cost_fixed_original,delivery_cost_discount,store_customer_distance,store_customer_duration,delivery_moved,deleted,gdo,vertical,created_at,updated_at,assigned_at,picked_at,paid_at,delivered_at,deleted_at
255461,531257,511601,511637,121781.0,8.0,3,600,2018-03-31 12:00:00,2018-03-31 13:00:00,48.33,59.77,4.9,0.0,829,149.0,0,0,1,0,2018-03-30 15:40:13,2018-10-03 14:37:34,2018-03-31 11:07:55,2018-03-30 15:40:14,2018-03-31 12:47:15,2018-03-31 13:02:10,NaN
166810,353953,333993,334029,101930.0,NaN,1,600,2017-10-05 11:00:00,2017-10-05 12:00:00,11.33,64.63,4.9,0.0,6791,981.0,0,0,3,0,2017-10-04 10:29:15,2018-10-03 15:27:35,2017-10-04 20:10:43,NaN,2017-10-05 10:57:10,2017-10-05 11:12:07,NaN
362468,745855,727333,727369,NaN,NaN,1,200,2018-09-19 16:00:00,2018-09-19 17:00:00,11.60,61.77,5.9,0.0,1913,367.0,0,1,0,0,2018-09-19 11:49:25,2018-09-19 11:58:18,NaN,NaN,NaN,NaN,2018-09-19 11:58:18
68528,157160,137196,137204,32934.0,NaN,1,600,2016-09-06 20:00:00,2016-09-06 21:00:00,35.40,0.00,4.9,0.0,1960,308.0,1,0,0,0,2016-09-06 16:57:39,2018-10-03 15:40:17,2016-09-06 17:19:07,NaN,2016-09-06 20:48:01,2016-09-06 21:00:24,NaN
217333,455001,435041,435077,60562.0,NaN,1,600,2018-01-24 18:00:00,2018-01-24 19:00:00,62.56,203.51,4.9,0.0,5467,840.0,0,0,3,0,2018-01-22 23:46:15,2018-10-03 14:35:45,2018-01-24 08:40:31,NaN,2018-01-24 18:36:15,2018-01-24 19:21:04,NaN
240963,502261,482339,482375,120013.0,NaN,1,600,2018-03-06 13:00:00,2018-03-06 14:00:00,17.76,65.98,4.9,0.0,11159,1122.0,0,0,4,0,2018-03-06 10:05:08,2018-10-03 14:36:50,2018-03-06 10:07:44,NaN,2018-03-06 12:04:22,2018-03-06 13:25:01,NaN

In [4]:
# rename fields and keep only the columns we need
plugin = s24.plugin.AugmentCouriersPlugin(factory=factory)
augmented = plugin.run(orders, action=action)
sample(augmented)

['id', 'store_id', 'customer_id', 'courier_id', 'picker_id', 'fulfillment_type', 'status', 'deliver_at_start', 'deliver_at_end', 'amount', 'volume', 'delivery_cost_fixed_original', 'delivery_cost_discount', 'store_customer_distance', 'store_customer_duration', 'delivery_moved', 'deleted', 'gdo', 'vertical', 'created_at', 'updated_at', 'assigned_at', 'picked_at', 'paid_at', 'delivered_at', 'deleted_at', 'courier_soldo_enabled', 'courier_area', 'courier_orders_taken', 'courier_orders_sent', 'courier_created_at']
['store_id', 'courier_id', 'picker_id', 'fulfillment_type', 'status', 'deliver_at_start', 'courier_orders_sent', 'deliver_at_end', 'courier_created_at', 'amount', 'volume', 'delivery_cost_fixed_original', 'delivery_cost_discount', 'store_customer_distance', 'store_customer_duration', 'delivery_moved', 'deleted', 'gdo', 'vertical', 'created_at', 'updated_at', 'assigned_at', 'picked_at', 'paid_at', 'delivered_at', 'deleted_at', 'courier_soldo_enabled', 'courier_area', 'courier_orders_taken', 'courier_orders_sent', 'courier_created_at']

,store_id,courier_id,picker_id,fulfillment_type,status,deliver_at_start,courier_orders_sent,deliver_at_end,courier_created_at,amount,volume,delivery_cost_fixed_original,delivery_cost_discount,store_customer_distance,store_customer_duration,delivery_moved,deleted,gdo,vertical,created_at,updated_at,assigned_at,picked_at,paid_at,delivered_at,deleted_at,courier_soldo_enabled,courier_area,courier_orders_taken,courier_orders_sent,courier_created_at
141220,172034,61686.0,NaN,1,600,2016-12-12 17:00:00,804,2016-12-12 18:00:00,2016-08-29 16:45:02,11.53,0.00,3.5,0.0,2366,263.0,0,0,0,0,2016-12-12 12:27:38,2018-10-03 15:41:01,2016-12-12 12:30:32,NaN,2016-12-12 18:32:39,2016-12-12 18:46:50,NaN,0,MO1,673,804,2016-08-29 16:45:02
244520,303510,95272.0,NaN,3,600,2017-08-14 19:00:00,118,2017-08-14 20:00:00,2017-07-30 11:27:48,14.26,23.48,0.0,0.0,7160,522.0,0,0,2,0,2017-08-14 14:57:37,2018-10-03 15:26:45,2017-08-14 15:08:59,NaN,2017-08-14 18:24:36,2017-08-14 18:41:01,NaN,0,MI6,178,118,2017-07-30 11:27:48
409095,938358,148565.0,NaN,1,600,2019-01-16 14:00:00,1106,2019-01-16 15:00:00,2018-09-12 18:49:42,41.59,67.09,4.9,0.0,1916,369.0,0,0,13,0,2019-01-15 18:30:20,2019-01-16 14:27:50,2019-01-16 11:52:11,NaN,2019-01-16 14:13:53,2019-01-16 14:27:50,NaN,1,MI3,668,1106,2018-09-12 18:49:42
41347,535397,34568.0,NaN,1,600,2018-04-21 12:00:00,11762,2018-04-21 13:00:00,2015-08-20 14:42:01,65.56,109.05,5.9,0.0,4426,926.0,0,0,10,0,2018-04-20 12:28:47,2018-10-03 14:38:13,2018-04-21 09:52:18,NaN,2018-04-21 11:52:08,2018-04-21 12:05:06,NaN,1,TO2,4250,11762,2015-08-20 14:42:01
99914,73896,42378.0,NaN,1,600,2016-03-02 11:00:00,6241,2016-03-02 12:00:00,2015-11-07 15:50:39,9.24,0.00,2.6,0.0,6507,NaN,1,0,0,0,2016-03-01 12:22:23,2018-10-03 15:39:12,2016-03-01 12:24:38,NaN,2016-03-02 11:23:11,2016-03-02 11:55:35,NaN,0,TO2,1799,6241,2015-11-07 15:50:39
394259,764619,148745.0,NaN,1,600,2018-10-12 18:00:00,532,2018-10-12 19:00:00,2018-09-13 15:50:21,27.21,37.63,4.9,0.0,996,235.0,0,0,8,0,2018-10-12 10:43:18,2018-11-06 11:57:44,2018-10-12 15:50:49,NaN,2018-10-12 18:34:01,2018-10-12 18:48:47,NaN,1,MI2,93,532,2018-09-13 15:50:21

In [5]:
orders.columns

Index(['id', 'store_id', 'customer_id', 'courier_id', 'picker_id',
       'fulfillment_type', 'status', 'deliver_at_start', 'deliver_at_end',
       'amount', 'volume', 'delivery_cost_fixed_original',
       'delivery_cost_discount', 'store_customer_distance',
       'store_customer_duration', 'delivery_moved', 'deleted', 'gdo',
       'vertical', 'created_at', 'updated_at', 'assigned_at', 'picked_at',
       'paid_at', 'delivered_at', 'deleted_at'],
      dtype='object')