In [7]:
# setup for training AND prediction
import analitico
import analitico.plugin
import s24.plugin

from analitico.pandas import *

import numpy as np
from scipy import stats

# pass api token to create factory
factory = analitico.authorize("tok_demo2_xaffg23443d1")

def sample(df):
    return df.sample(n=4)

import datetime
print(datetime.datetime.now())

2019-04-12 11:45:47.570037

In [8]:
import missingno as msno
%matplotlib inline
import matplotlib.pyplot as plt

import pandas as pd
#pd.options.display.max_columns = None
#pd.options.display.max_rows = None

In [9]:
orders = factory.run_plugin(action="train", settings = {
    "name": "analitico.plugin.DatasetSourcePlugin",
    "dataset_id": "ds_s24_order_times_dyn"
})
#sample(orders)

In [10]:
orders

,order_amount,order_volume,order_deliver_at_start,order_deliver_at_end,order_paid_at,order_delivered_at,order_fulfillment_type,store_id,courier_id,picker_id,...,customer_created_at,courier_soldo_enabled,courier_area,courier_orders_taken,courier_orders_sent,courier_created_at,courier_experience_days,pick_time.min,pay_time.min,deliver_time.min
0,46.07,90.77,2018-07-01 09:00:00,2018-07-01 10:00:00,2018-07-01 08:47:48,2018-07-01 10:04:43,1,630013,104542.0,NaN,...,2018-07-01 00:18:30,0,NaN,0,0,2019-04-11 14:25:10.676079,-284,NaN,NaN,76.916667
1,50.40,128.53,2018-07-01 17:00:00,2018-07-01 18:00:00,2018-07-01 16:44:36,2018-07-01 17:01:17,1,630015,136217.0,NaN,...,2018-07-01 00:22:33,0,NaN,0,0,2019-04-11 14:25:10.676079,-283,17.116667,8.850000,16.683333
2,82.05,106.76,2018-07-02 10:00:00,2018-07-02 11:00:00,2018-07-02 11:03:32,2018-07-02 11:15:52,1,630017,123283.0,NaN,...,2018-07-01 00:34:42,0,NaN,0,0,2019-04-11 14:25:10.676079,-283,40.533333,6.700000,12.333333
3,96.67,88.36,2018-07-01 11:00:00,2018-07-01 12:00:00,2018-07-01 11:47:18,2018-07-01 12:07:41,1,630019,66400.0,NaN,...,2018-07-01 00:36:31,0,NaN,0,0,2019-04-11 14:25:10.676079,-284,22.216667,12.283333,20.383333
4,49.19,98.36,2018-07-02 16:00:00,2018-07-02 17:00:00,2018-07-02 16:37:03,2018-07-02 17:00:07,1,630021,134307.0,NaN,...,2018-07-01 00:49:32,0,NaN,0,0,2019-04-11 14:25:10.676079,-282,31.050000,12.616667,23.066667
5,17.31,14.81,2018-07-01 11:00:00,2018-07-01 12:00:00,2018-07-01 10:33:21,2018-07-01 10:37:40,1,630023,134969.0,NaN,...,2018-07-01 00:52:14,0,NaN,0,0,2019-04-11 14:25:10.676079,-284,26.716667,19.650000,4.316667
6,50.92,62.22,2018-07-01 11:00:00,2018-07-01 12:00:00,2018-07-01 10:51:47,2018-07-01 11:36:17,1,630025,111295.0,NaN,...,2018-07-01 01:03:08,0,NaN,0,0,2019-04-11 14:25:10.676079,-284,6.766667,4.466667,44.500000
7,32.52,39.68,2018-07-01 11:00:00,2018-07-01 12:00:00,2018-07-01 10:11:39,2018-07-01 10:48:08,3,630027,129279.0,12.0,...,2018-07-01 01:06:17,0,NaN,0,0,2019-04-11 14:25:10.676079,-284,NaN,NaN,36.483333
8,14.30,46.54,2018-07-01 13:00:00,2018-07-01 14:00:00,2018-07-01 12:47:57,2018-07-01 13:00:08,1,630029,103208.0,NaN,...,2018-07-01 01:11:28,0,NaN,0,0,2019-04-11 14:25:10.676079,-284,3.683333,14.866667,12.183333
9,10.25,170.91,2018-07-01 11:00:00,2018-07-01 12:00:00,2018-07-01 11:36:51,2018-07-01 11:55:55,1,630031,112123.0,NaN,...,2018-07-01 01:31:21,0,NaN,0,0,2019-04-11 14:25:10.676079,-284,5.550000,13.850000,19.066667
10,43.43,125.70,2018-07-04 10:00:00,2018-07-04 11:00:00,2018-07-04 09:16:41,2018-07-04 09:28:30,1,630033,48922.0,NaN,...,2018-07-01 02:01:16,0,NaN,0,0,2019-04-11 14:25:10.676079,-281,15.833333,19.033333,11.816667
11,33.95,36.21,2018-07-01 13:00:00,2018-07-01 14:00:00,2018-07-01 13:26:08,2018-07-01 13:50:42,1,630035,33924.0,NaN,...,2018-07-01 02:17:42,0,NaN,0,0,2019-04-11 14:25:10.676079,-284,29.650000,9.833333,24.566667
12,13.97,11.29,2018-07-01 12:00:00,2018-07-01 13:00:00,2018-07-01 11:43:28,2018-07-01 12:01:51,3,630039,61548.0,8.0,...,2018-07-01 02:45:29,0,NaN,0,0,2019-04-11 14:25:10.676079,-284,NaN,NaN,18.383333
13,59.42,57.63,2018-07-02 19:00:00,2018-07-02 20:00:00,2018-07-02 19:19:25,2018-07-02 19:40:49,1,630041,88264.0,NaN,...,2018-07-01 03:11:05,0,NaN,0,0,2019-04-11 14:25:10.676079,-282,14.183333,13.916667,21.400000
14,34.03,121.51,2018-07-01 13:00:00,2018-07-01 14:00:00,2018-07-01 12:00:11,2018-07-01 13:01:04,1,630043,135065.0,NaN,...,2018-07-01 03:37:26,0,NaN,0,0,2019-04-11 14:25:10.676079,-284,14.900000,9.133333,60.883333
15,34.95,51.21,2018-07-02 18:00:00,2018-07-02 19:00:00,2018-07-02 18:49:50,2018-07-02 19:12:46,1,630045,63392.0,NaN,...,2018-07-01 03:40:17,0,NaN,0,0,2019-04-11 14:25:10.676079,-282,10.966667,18.983333,22.933333
16,102.05,55.64,2018-07-01 15:00:00,2018-07-01 16:00:00,2018-07-01 15:39:59,2018-07-01 15:47:36,1,630047,101380.0,NaN,...,2018-07-01 04:20:18,0,NaN,0,0,2019-04-11 14:25:10.676079,-283,46.416667,17.850000,7.616667
17,97.14,88.89,2018-07-01 11:00:00,2018-07-01 12:00:00,2018-07-01 10:36:59,2018-07-01 12:45:55,1,630053,111295.0,NaN,...,2018-07-01 04:55:48,0,NaN,0,0,2019-04-11 14:25:10.676079,-284,12.833333,8.316667,128.933333
18,24.97,91.00,2018-07-02 15:00:00,2018-07-02 16:00:00,2018-07-02 14:01:14,2018-07-02 14:53:14,1,630055,116441.0,NaN,...,2018-07-01 05:33:07,0,NaN,0,0,2019-04-11 14:25:10.676079,-282,28.966667,12.550000,52.000000
19,116.82,165.55,2018-07-05 14:00:00,2018-07-05 15:00:00,2018-07-05 14:23:29,2018-07-05 14:57:04,1,630057,133325.0,NaN,...,2018-07-01 05:51:02,0,NaN,0,0,2019-04-11 14:25:10.676079,-280,37.216667,12.316667,33.583333
20,21.03,27.43,2018-07-02 12:00:00,2018-07-02 13:00:00,2018-07-02 11:14:57,2018-07-02 11:33:32,1,630059,135581.0,NaN,...,2018-07-01 06:23:40,0,NaN,0,0,2019-04-11 14:25:10.676079,-283,15.383333,5.266667,18.583333
21,25.02,32.18,2018-07-01 15:00:00,2018-07-01 16:00:00,2018-07-01 14:52:52,2018-07-01 15:11:20,1,630061,136053.0,NaN,...,2018-07-01 06:40:41,0,NaN,0,0,2019-04-11 14:25:10.676079,-283,22.533333,0.833333,18.466667
22,39.23,23.98,2018-07-02 12:00:00,2018-07-02 13:00:00,2018-07-02 11:44:18,2018-07-02 12:12:11,1,630063,108963.0,NaN,...,2018-07-01 07:02:03,0,NaN,0,0,2019-04-11 14:25:10.676079,-283,25.766667,7.316667,27.883333
23,97.73,121.27,2018-07-01 10:00:00,2018-07-01 11:00:00,2018-07-01 09:33:39,2018-07-01 10:22:54,1,630067,134767.0,NaN,...,2018-07-01 07:45:28,0,NaN,0,0,2019-04-11 14:25:10.676079,-284,10.216667,7.566667,49.250000
24,25.64,46.35,2018-07-01 11:00:00,2018-07-01 12:00:00,2018-07-01 10:48:10,2018-07-01 11:06:08,1,630069,108045.0,NaN,...,2018-07-01 08:09:33,0,NaN,0,0,2019-04-11 14:25:10.676079,-284,18.400000,0.466667,17.966667
25,125.31,99.27,2018-07-02 10:00:00,2018-07-02 11:00:00,2018-07-02 09:20:44,2018-07-02 09:51:58,1,630071,96788.0,NaN,...,2018-07-01 08:16:17,0,NaN,0,0,2019-04-11 14:25:10.676079,-283,17.700000,6.833333,31.233333
26,16.40,90.35,2018-07-01 18:00:00,2018-07-01 19:00:00,2018-07-01 17:35:10,2018-07-01 17:57:29,1,630075,116515.0,NaN,...,2018-07-01 08:18:56,0,NaN,0,0,2019-04-11 14:25:10.676079,-283,2.366667,12.300000,22.316667
27,73.73,97.91,2018-07-01 11:00:00,2018-07-01 12:00:00,2018-07-01 11:03:08,2018-07-01 11:26:08,1,630077,106027.0,NaN,...,2018-07-01 08:20:16,0,NaN,0,0,2019-04-11 14:25:10.676079,-284,25.216667,18.150000,23.000000
28,85.94,190.34,2018-07-01 10:00:00,2018-07-01 11:00:00,2018-07-01 10:42:20,2018-07-01 11:02:35,1,630079,121751.0,NaN,...,2018-07-01 08:30:54,0,NaN,0,0,2019-04-11 14:25:10.676079,-284,32.266667,18.100000,20.250000
29,74.95,83.35,2018-07-01 14:00:00,2018-07-01 15:00:00,2018-07-01 13:59:44,2018-07-01 14:58:53,3,630081,110835.0,12.0,...,2018-07-01 08:31:21,0,NaN,0,0,2019-04-11 14:25:10.676079,-284,NaN,NaN,59.150000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223606,22.35,18.91,2019-04-10 19:00:00,2019-04-10 20:00:00,2019-04-10 18:46:48,2019-04-10 19:01:04,1,1129210,162404.0,NaN,...,2019-04-10 17:07:38,0,NaN,0,0,2019-04-11 14:25:10.676079,0,11.716667,10.316667,14.266667
223607,63.18,77.85,2019-04-10 20:00:00,2019-04-10 21:00:00,2019-04-10 20:22:14,2019-04-10 20:29:33,1,1129212,136603.0,NaN,...,2019-04-10 17:08:58,0,NaN,0,0,2019-04-11 14:25:10.676079,0,17.083333,3.050000,7.316667
223608,67.74,123.55,2019-04-10 19:00:00,2019-04-10 20:00:00,2019-04-10 19:17:30,2019-04-10 19:47:43,1,1129216,158297.0,NaN,...,2019-04-10 17:09:50,0,NaN,0,0,2019-04-11 14:25:10.676079,0,56.566667,14.300000,30.216667
223609,49.08,98.53,2019-04-10 20:00:00,2019-04-10 21:00:00,2019-04-10 20:08:00,2019-04-10 20:36:06,1,1129218,132353.0,NaN,...,2019-04-10 17:10:11,0,NaN,0,0,2019-04-11 14:25:10.676079,0,28.450000,7.916667,28.100000
223610,33.78,78.05,2019-04-10 20:00:00,2019-04-10 21:00:00,2019-04-10 20:17:04,2019-04-10 20:42:52,1,1129224,172478.0,NaN,...,2019-04-10 17:12:30,0,NaN,0,0,2019-04-11 14:25:10.676079,0,NaN,NaN,25.800000
223611,14.48,14.93,2019-04-10 19:00:00,2019-04-10 20:00:00,2019-04-10 18:13:07,2019-04-10 19:22:39,1,1129226,138357.0,NaN,...,2019-04-10 17:13:20,0,NaN,0,0,2019-04-11 14:25:10.676079,0,NaN,NaN,69.533333
223612,57.86,51.42,2019-04-10 19:00:00,2019-04-10 20:00:00,2019-04-10 18:27:43,2019-04-10 19:03:50,1,1129228,41192.0,NaN,...,2019-04-10 17:13:25,0,NaN,0,0,2019-04-11 14:25:10.676079,0,NaN,NaN,36.116667
223613,39.87,37.46,2019-04-10 19:00:00,2019-04-10 20:00:00,2019-04-10 19:13:09,2019-04-10 19:46:57,1,1129238,107577.0,NaN,...,2019-04-10 17:17:56,0,NaN,0,0,2019-04-11 14:25:10.676079,0,22.383333,20.150000,33.800000
223614,48.02,113.55,2019-04-10 20:00:00,2019-04-10 21:00:00,2019-04-10 19:35:15,2019-04-10 19:57:44,1,1129240,130459.0,NaN,...,2019-04-10 17:19:21,0,NaN,0,0,2019-04-11 14:25:10.676079,0,NaN,NaN,22.483333
223615,11.88,19.50,2019-04-10 20:00:00,2019-04-10 21:00:00,2019-04-10 19:30:22,2019-04-10 19:52:16,1,1129242,165428.0,NaN,...,2019-04-10 17:19:58,0,NaN,0,0,2019-04-11 14:25:10.676079,0,3.600000,5.166667,21.900000
223616,46.82,69.34,2019-04-10 20:00:00,2019-04-10 21:00:00,2019-04-10 20:46:07,2019-04-10 20:57:00,1,1129248,161739.0,NaN,...,2019-04-10 17:24:17,0,NaN,0,0,2019-04-11 14:25:10.676079,0,NaN,NaN,10.883333
223617,50.65,39.81,2019-04-10 20:00:00,2019-04-10 21:00:00,2019-04-10 19:49:20,2019-04-10 19:59:21,1,1129250,169404.0,NaN,...,2019-04-10 17:25:08,0,NaN,0,0,2019-04-11 14:25:10.676079,0,NaN,NaN,10.016667
223618,111.33,71.32,2019-04-10 20:00:00,2019-04-10 21:00:00,2019-04-10 20:27:13,2019-04-10 20:51:37,1,1129254,162410.0,NaN,...,2019-04-10 17:26:02,0,NaN,0,0,2019-04-11 14:25:10.676079,0,32.600000,13.450000,24.400000
223619,72.33,143.80,2019-04-10 19:00:00,2019-04-10 20:00:00,2019-04-10 19:13:35,2019-04-10 19:44:32,1,1129260,168944.0,NaN,...,2019-04-10 17:31:32,0,NaN,0,0,2019-04-11 14:25:10.676079,0,NaN,NaN,30.950000
223620,140.85,434.20,2019-04-10 19:00:00,2019-04-10 20:00:00,2019-04-10 19:34:39,2019-04-10 19:57:55,1,1129286,160749.0,NaN,...,2019-04-10 17:42:19,0,NaN,0,0,2019-04-11 14:25:10.676079,0,33.650000,23.050000,23.266667
223621,44.08,54.14,2019-04-10 19:00:00,2019-04-10 20:00:00,2019-04-10 19:42:43,2019-04-10 20:07:07,1,1129290,108623.0,NaN,...,2019-04-10 17:43:24,0,NaN,0,0,2019-04-11 14:25:10.676079,0,8.700000,4.583333,24.400000
223622,63.24,86.51,2019-04-10 20:00:00,2019-04-10 21:00:00,2019-04-10 21:03:20,2019-04-10 21:31:33,1,1129294,168944.0,NaN,...,2019-04-10 17:44:58,0,NaN,0,0,2019-04-11 14:25:10.676079,0,NaN,NaN,28.216667
223623,12.22,175.76,2019-04-10 20:00:00,2019-04-10 21:00:00,2019-04-10 19:48:39,2019-04-10 20:07:44,1,1129302,153615.0,NaN,...,2019-04-10 17:47:20,0,NaN,0,0,2019-04-11 14:25:10.676079,0,NaN,NaN,19.083333
223624,61.83,67.86,2019-04-10 19:00:00,2019-04-10 20:00:00,2019-04-10 19:13:55,2019-04-10 19:32:59,1,1129324,129527.0,NaN,...,2019-04-10 17:54:34,0,NaN,0,0,2019-04-11 14:25:10.676079,0,22.966667,5.466667,19.066667
223625,28.75,33.90,2019-04-10 19:00:00,2019-04-10 20:00:00,2019-04-10 19:22:24,2019-04-10 19:23:49,1,1129326,171252.0,NaN,...,2019-04-10 17:54:35,0,NaN,0,0,2019-04-11 14:25:10.676079,0,NaN,NaN,1.416667
223626,39.83,71.53,2019-04-10 20:00:00,2019-04-10 21:00:00,2019-04-10 19:55:18,2019-04-10 20:19:28,1,1129356,144827.0,NaN,...,2019-04-10 18:03:41,0,NaN,0,0,2019-04-11 14:25:10.676079,0,NaN,NaN,24.166667
223627,30.85,118.68,2019-04-10 21:00:00,2019-04-10 22:00:00,2019-04-10 21:21:01,2019-04-10 21:51:46,1,1129360,165842.0,NaN,...,2019-04-10 18:04:32,0,NaN,0,0,2019-04-11 14:25:10.676079,0,17.850000,5.383333,30.750000
223628,34.66,45.01,2019-04-10 20:00:00,2019-04-10 21:00:00,2019-04-10 19:36:24,2019-04-10 19:48:57,1,1129392,13657.0,NaN,...,2019-04-10 18:18:52,0,NaN,0,0,2019-04-11 14:25:10.676079,0,NaN,NaN,12.550000
223629,34.93,35.66,2019-04-10 20:00:00,2019-04-10 21:00:00,2019-04-10 19:56:54,2019-04-10 20:08:59,1,1129402,174182.0,NaN,...,2019-04-10 18:21:47,0,NaN,0,0,2019-04-11 14:25:10.676079,0,29.383333,10.316667,12.083333
223630,29.61,101.87,2019-04-10 20:00:00,2019-04-10 21:00:00,2019-04-10 20:20:43,2019-04-10 20:44:44,1,1129438,158297.0,NaN,...,2019-04-10 18:41:21,0,NaN,0,0,2019-04-11 14:25:10.676079,0,11.800000,9.716667,24.016667
223631,34.03,46.73,2019-04-10 20:00:00,2019-04-10 21:00:00,2019-04-10 19:42:18,2019-04-10 19:57:14,1,1129464,152569.0,NaN,...,2019-04-10 18:52:45,0,NaN,0,0,2019-04-11 14:25:10.676079,0,15.833333,7.883333,14.933333
223632,71.07,100.16,2019-04-10 21:00:00,2019-04-10 22:00:00,2019-04-10 20:29:36,2019-04-10 20:46:10,1,1129478,170716.0,NaN,...,2019-04-10 19:03:48,0,NaN,0,0,2019-04-11 14:25:10.676079,0,NaN,NaN,16.566667
223633,86.74,149.59,2019-04-10 22:00:00,2019-04-10 23:00:00,2019-04-10 21:59:05,2019-04-10 22:21:30,1,1129530,154577.0,NaN,...,2019-04-10 19:33:04,0,NaN,0,0,2019-04-11 14:25:10.676079,0,28.050000,9.533333,22.416667
223634,32.97,25.87,2019-04-10 21:00:00,2019-04-10 22:00:00,2019-04-10 20:45:48,2019-04-10 21:08:08,1,1129550,153615.0,NaN,...,2019-04-10 19:48:02,0,NaN,0,0,2019-04-11 14:25:10.676079,0,6.783333,12.766667,22.333333
223635,92.57,100.76,2019-04-10 21:00:00,2019-04-10 22:00:00,2019-04-10 21:42:51,2019-04-10 22:12:21,1,1129580,161739.0,NaN,...,2019-04-10 19:59:38,0,NaN,0,0,2019-04-11 14:25:10.676079,0,NaN,NaN,29.500000

In [11]:
df1 = pd.read_csv("order_times_dyn.csv")

In [12]:
df1

,order_id,order_amount,order_volume,order_deliver_at_start,order_deliver_at_end,order_paid_at,order_delivered_at,order_fulfillment_type,store_id,courier_id,...,customer_created_at,courier_soldo_enabled,courier_area,courier_orders_taken,courier_orders_sent,courier_created_at,courier_experience_days,pick_time.min,pay_time.min,deliver_time.min
0,649155,46.07,90.77,2018-07-01 09:00:00.000000,2018-07-01 10:00:00.000000,2018-07-01 08:47:48.000000,2018-07-01 10:04:43.000000,1,630013,104542.0,...,2018-07-01 00:18:30.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,-284,NaN,NaN,76.916667
1,649157,50.40,128.53,2018-07-01 17:00:00.000000,2018-07-01 18:00:00.000000,2018-07-01 16:44:36.000000,2018-07-01 17:01:17.000000,1,630015,136217.0,...,2018-07-01 00:22:33.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,-283,17.116667,8.850000,16.683333
2,649159,82.05,106.76,2018-07-02 10:00:00.000000,2018-07-02 11:00:00.000000,2018-07-02 11:03:32.000000,2018-07-02 11:15:52.000000,1,630017,123283.0,...,2018-07-01 00:34:42.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,-283,40.533333,6.700000,12.333333
3,649161,96.67,88.36,2018-07-01 11:00:00.000000,2018-07-01 12:00:00.000000,2018-07-01 11:47:18.000000,2018-07-01 12:07:41.000000,1,630019,66400.0,...,2018-07-01 00:36:31.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,-284,22.216667,12.283333,20.383333
4,649163,49.19,98.36,2018-07-02 16:00:00.000000,2018-07-02 17:00:00.000000,2018-07-02 16:37:03.000000,2018-07-02 17:00:07.000000,1,630021,134307.0,...,2018-07-01 00:49:32.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,-282,31.050000,12.616667,23.066667
5,649165,17.31,14.81,2018-07-01 11:00:00.000000,2018-07-01 12:00:00.000000,2018-07-01 10:33:21.000000,2018-07-01 10:37:40.000000,1,630023,134969.0,...,2018-07-01 00:52:14.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,-284,26.716667,19.650000,4.316667
6,649167,50.92,62.22,2018-07-01 11:00:00.000000,2018-07-01 12:00:00.000000,2018-07-01 10:51:47.000000,2018-07-01 11:36:17.000000,1,630025,111295.0,...,2018-07-01 01:03:08.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,-284,6.766667,4.466667,44.500000
7,649169,32.52,39.68,2018-07-01 11:00:00.000000,2018-07-01 12:00:00.000000,2018-07-01 10:11:39.000000,2018-07-01 10:48:08.000000,3,630027,129279.0,...,2018-07-01 01:06:17.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,-284,NaN,NaN,36.483333
8,649171,14.30,46.54,2018-07-01 13:00:00.000000,2018-07-01 14:00:00.000000,2018-07-01 12:47:57.000000,2018-07-01 13:00:08.000000,1,630029,103208.0,...,2018-07-01 01:11:28.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,-284,3.683333,14.866667,12.183333
9,649173,10.25,170.91,2018-07-01 11:00:00.000000,2018-07-01 12:00:00.000000,2018-07-01 11:36:51.000000,2018-07-01 11:55:55.000000,1,630031,112123.0,...,2018-07-01 01:31:21.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,-284,5.550000,13.850000,19.066667
10,649175,43.43,125.70,2018-07-04 10:00:00.000000,2018-07-04 11:00:00.000000,2018-07-04 09:16:41.000000,2018-07-04 09:28:30.000000,1,630033,48922.0,...,2018-07-01 02:01:16.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,-281,15.833333,19.033333,11.816667
11,649177,33.95,36.21,2018-07-01 13:00:00.000000,2018-07-01 14:00:00.000000,2018-07-01 13:26:08.000000,2018-07-01 13:50:42.000000,1,630035,33924.0,...,2018-07-01 02:17:42.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,-284,29.650000,9.833333,24.566667
12,649181,13.97,11.29,2018-07-01 12:00:00.000000,2018-07-01 13:00:00.000000,2018-07-01 11:43:28.000000,2018-07-01 12:01:51.000000,3,630039,61548.0,...,2018-07-01 02:45:29.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,-284,NaN,NaN,18.383333
13,649183,59.42,57.63,2018-07-02 19:00:00.000000,2018-07-02 20:00:00.000000,2018-07-02 19:19:25.000000,2018-07-02 19:40:49.000000,1,630041,88264.0,...,2018-07-01 03:11:05.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,-282,14.183333,13.916667,21.400000
14,649185,34.03,121.51,2018-07-01 13:00:00.000000,2018-07-01 14:00:00.000000,2018-07-01 12:00:11.000000,2018-07-01 13:01:04.000000,1,630043,135065.0,...,2018-07-01 03:37:26.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,-284,14.900000,9.133333,60.883333
15,649187,34.95,51.21,2018-07-02 18:00:00.000000,2018-07-02 19:00:00.000000,2018-07-02 18:49:50.000000,2018-07-02 19:12:46.000000,1,630045,63392.0,...,2018-07-01 03:40:17.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,-282,10.966667,18.983333,22.933333
16,649189,102.05,55.64,2018-07-01 15:00:00.000000,2018-07-01 16:00:00.000000,2018-07-01 15:39:59.000000,2018-07-01 15:47:36.000000,1,630047,101380.0,...,2018-07-01 04:20:18.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,-283,46.416667,17.850000,7.616667
17,649195,97.14,88.89,2018-07-01 11:00:00.000000,2018-07-01 12:00:00.000000,2018-07-01 10:36:59.000000,2018-07-01 12:45:55.000000,1,630053,111295.0,...,2018-07-01 04:55:48.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,-284,12.833333,8.316667,128.933333
18,649197,24.97,91.00,2018-07-02 15:00:00.000000,2018-07-02 16:00:00.000000,2018-07-02 14:01:14.000000,2018-07-02 14:53:14.000000,1,630055,116441.0,...,2018-07-01 05:33:07.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,-282,28.966667,12.550000,52.000000
19,649199,116.82,165.55,2018-07-05 14:00:00.000000,2018-07-05 15:00:00.000000,2018-07-05 14:23:29.000000,2018-07-05 14:57:04.000000,1,630057,133325.0,...,2018-07-01 05:51:02.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,-280,37.216667,12.316667,33.583333
20,649201,21.03,27.43,2018-07-02 12:00:00.000000,2018-07-02 13:00:00.000000,2018-07-02 11:14:57.000000,2018-07-02 11:33:32.000000,1,630059,135581.0,...,2018-07-01 06:23:40.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,-283,15.383333,5.266667,18.583333
21,649203,25.02,32.18,2018-07-01 15:00:00.000000,2018-07-01 16:00:00.000000,2018-07-01 14:52:52.000000,2018-07-01 15:11:20.000000,1,630061,136053.0,...,2018-07-01 06:40:41.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,-283,22.533333,0.833333,18.466667
22,649205,39.23,23.98,2018-07-02 12:00:00.000000,2018-07-02 13:00:00.000000,2018-07-02 11:44:18.000000,2018-07-02 12:12:11.000000,1,630063,108963.0,...,2018-07-01 07:02:03.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,-283,25.766667,7.316667,27.883333
23,649209,97.73,121.27,2018-07-01 10:00:00.000000,2018-07-01 11:00:00.000000,2018-07-01 09:33:39.000000,2018-07-01 10:22:54.000000,1,630067,134767.0,...,2018-07-01 07:45:28.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,-284,10.216667,7.566667,49.250000
24,649211,25.64,46.35,2018-07-01 11:00:00.000000,2018-07-01 12:00:00.000000,2018-07-01 10:48:10.000000,2018-07-01 11:06:08.000000,1,630069,108045.0,...,2018-07-01 08:09:33.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,-284,18.400000,0.466667,17.966667
25,649213,125.31,99.27,2018-07-02 10:00:00.000000,2018-07-02 11:00:00.000000,2018-07-02 09:20:44.000000,2018-07-02 09:51:58.000000,1,630071,96788.0,...,2018-07-01 08:16:17.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,-283,17.700000,6.833333,31.233333
26,649217,16.40,90.35,2018-07-01 18:00:00.000000,2018-07-01 19:00:00.000000,2018-07-01 17:35:10.000000,2018-07-01 17:57:29.000000,1,630075,116515.0,...,2018-07-01 08:18:56.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,-283,2.366667,12.300000,22.316667
27,649219,73.73,97.91,2018-07-01 11:00:00.000000,2018-07-01 12:00:00.000000,2018-07-01 11:03:08.000000,2018-07-01 11:26:08.000000,1,630077,106027.0,...,2018-07-01 08:20:16.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,-284,25.216667,18.150000,23.000000
28,649221,85.94,190.34,2018-07-01 10:00:00.000000,2018-07-01 11:00:00.000000,2018-07-01 10:42:20.000000,2018-07-01 11:02:35.000000,1,630079,121751.0,...,2018-07-01 08:30:54.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,-284,32.266667,18.100000,20.250000
29,649223,74.95,83.35,2018-07-01 14:00:00.000000,2018-07-01 15:00:00.000000,2018-07-01 13:59:44.000000,2018-07-01 14:58:53.000000,3,630081,110835.0,...,2018-07-01 08:31:21.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,-284,NaN,NaN,59.150000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223606,1146230,22.35,18.91,2019-04-10 19:00:00.000000,2019-04-10 20:00:00.000000,2019-04-10 18:46:48.000000,2019-04-10 19:01:04.000000,1,1129210,162404.0,...,2019-04-10 17:07:38.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,0,11.716667,10.316667,14.266667
223607,1146232,63.18,77.85,2019-04-10 20:00:00.000000,2019-04-10 21:00:00.000000,2019-04-10 20:22:14.000000,2019-04-10 20:29:33.000000,1,1129212,136603.0,...,2019-04-10 17:08:58.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,0,17.083333,3.050000,7.316667
223608,1146236,67.74,123.55,2019-04-10 19:00:00.000000,2019-04-10 20:00:00.000000,2019-04-10 19:17:30.000000,2019-04-10 19:47:43.000000,1,1129216,158297.0,...,2019-04-10 17:09:50.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,0,56.566667,14.300000,30.216667
223609,1146238,49.08,98.53,2019-04-10 20:00:00.000000,2019-04-10 21:00:00.000000,2019-04-10 20:08:00.000000,2019-04-10 20:36:06.000000,1,1129218,132353.0,...,2019-04-10 17:10:11.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,0,28.450000,7.916667,28.100000
223610,1146244,33.78,78.05,2019-04-10 20:00:00.000000,2019-04-10 21:00:00.000000,2019-04-10 20:17:04.000000,2019-04-10 20:42:52.000000,1,1129224,172478.0,...,2019-04-10 17:12:30.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,0,NaN,NaN,25.800000
223611,1146246,14.48,14.93,2019-04-10 19:00:00.000000,2019-04-10 20:00:00.000000,2019-04-10 18:13:07.000000,2019-04-10 19:22:39.000000,1,1129226,138357.0,...,2019-04-10 17:13:20.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,0,NaN,NaN,69.533333
223612,1146248,57.86,51.42,2019-04-10 19:00:00.000000,2019-04-10 20:00:00.000000,2019-04-10 18:27:43.000000,2019-04-10 19:03:50.000000,1,1129228,41192.0,...,2019-04-10 17:13:25.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,0,NaN,NaN,36.116667
223613,1146258,39.87,37.46,2019-04-10 19:00:00.000000,2019-04-10 20:00:00.000000,2019-04-10 19:13:09.000000,2019-04-10 19:46:57.000000,1,1129238,107577.0,...,2019-04-10 17:17:56.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,0,22.383333,20.150000,33.800000
223614,1146260,48.02,113.55,2019-04-10 20:00:00.000000,2019-04-10 21:00:00.000000,2019-04-10 19:35:15.000000,2019-04-10 19:57:44.000000,1,1129240,130459.0,...,2019-04-10 17:19:21.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,0,NaN,NaN,22.483333
223615,1146262,11.88,19.50,2019-04-10 20:00:00.000000,2019-04-10 21:00:00.000000,2019-04-10 19:30:22.000000,2019-04-10 19:52:16.000000,1,1129242,165428.0,...,2019-04-10 17:19:58.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,0,3.600000,5.166667,21.900000
223616,1146268,46.82,69.34,2019-04-10 20:00:00.000000,2019-04-10 21:00:00.000000,2019-04-10 20:46:07.000000,2019-04-10 20:57:00.000000,1,1129248,161739.0,...,2019-04-10 17:24:17.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,0,NaN,NaN,10.883333
223617,1146270,50.65,39.81,2019-04-10 20:00:00.000000,2019-04-10 21:00:00.000000,2019-04-10 19:49:20.000000,2019-04-10 19:59:21.000000,1,1129250,169404.0,...,2019-04-10 17:25:08.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,0,NaN,NaN,10.016667
223618,1146274,111.33,71.32,2019-04-10 20:00:00.000000,2019-04-10 21:00:00.000000,2019-04-10 20:27:13.000000,2019-04-10 20:51:37.000000,1,1129254,162410.0,...,2019-04-10 17:26:02.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,0,32.600000,13.450000,24.400000
223619,1146280,72.33,143.80,2019-04-10 19:00:00.000000,2019-04-10 20:00:00.000000,2019-04-10 19:13:35.000000,2019-04-10 19:44:32.000000,1,1129260,168944.0,...,2019-04-10 17:31:32.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,0,NaN,NaN,30.950000
223620,1146306,140.85,434.20,2019-04-10 19:00:00.000000,2019-04-10 20:00:00.000000,2019-04-10 19:34:39.000000,2019-04-10 19:57:55.000000,1,1129286,160749.0,...,2019-04-10 17:42:19.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,0,33.650000,23.050000,23.266667
223621,1146310,44.08,54.14,2019-04-10 19:00:00.000000,2019-04-10 20:00:00.000000,2019-04-10 19:42:43.000000,2019-04-10 20:07:07.000000,1,1129290,108623.0,...,2019-04-10 17:43:24.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,0,8.700000,4.583333,24.400000
223622,1146314,63.24,86.51,2019-04-10 20:00:00.000000,2019-04-10 21:00:00.000000,2019-04-10 21:03:20.000000,2019-04-10 21:31:33.000000,1,1129294,168944.0,...,2019-04-10 17:44:58.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,0,NaN,NaN,28.216667
223623,1146322,12.22,175.76,2019-04-10 20:00:00.000000,2019-04-10 21:00:00.000000,2019-04-10 19:48:39.000000,2019-04-10 20:07:44.000000,1,1129302,153615.0,...,2019-04-10 17:47:20.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,0,NaN,NaN,19.083333
223624,1146344,61.83,67.86,2019-04-10 19:00:00.000000,2019-04-10 20:00:00.000000,2019-04-10 19:13:55.000000,2019-04-10 19:32:59.000000,1,1129324,129527.0,...,2019-04-10 17:54:34.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,0,22.966667,5.466667,19.066667
223625,1146346,28.75,33.90,2019-04-10 19:00:00.000000,2019-04-10 20:00:00.000000,2019-04-10 19:22:24.000000,2019-04-10 19:23:49.000000,1,1129326,171252.0,...,2019-04-10 17:54:35.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,0,NaN,NaN,1.416667
223626,1146376,39.83,71.53,2019-04-10 20:00:00.000000,2019-04-10 21:00:00.000000,2019-04-10 19:55:18.000000,2019-04-10 20:19:28.000000,1,1129356,144827.0,...,2019-04-10 18:03:41.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,0,NaN,NaN,24.166667
223627,1146380,30.85,118.68,2019-04-10 21:00:00.000000,2019-04-10 22:00:00.000000,2019-04-10 21:21:01.000000,2019-04-10 21:51:46.000000,1,1129360,165842.0,...,2019-04-10 18:04:32.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,0,17.850000,5.383333,30.750000
223628,1146412,34.66,45.01,2019-04-10 20:00:00.000000,2019-04-10 21:00:00.000000,2019-04-10 19:36:24.000000,2019-04-10 19:48:57.000000,1,1129392,13657.0,...,2019-04-10 18:18:52.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,0,NaN,NaN,12.550000
223629,1146422,34.93,35.66,2019-04-10 20:00:00.000000,2019-04-10 21:00:00.000000,2019-04-10 19:56:54.000000,2019-04-10 20:08:59.000000,1,1129402,174182.0,...,2019-04-10 18:21:47.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,0,29.383333,10.316667,12.083333
223630,1146458,29.61,101.87,2019-04-10 20:00:00.000000,2019-04-10 21:00:00.000000,2019-04-10 20:20:43.000000,2019-04-10 20:44:44.000000,1,1129438,158297.0,...,2019-04-10 18:41:21.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,0,11.800000,9.716667,24.016667
223631,1146484,34.03,46.73,2019-04-10 20:00:00.000000,2019-04-10 21:00:00.000000,2019-04-10 19:42:18.000000,2019-04-10 19:57:14.000000,1,1129464,152569.0,...,2019-04-10 18:52:45.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,0,15.833333,7.883333,14.933333
223632,1146498,71.07,100.16,2019-04-10 21:00:00.000000,2019-04-10 22:00:00.000000,2019-04-10 20:29:36.000000,2019-04-10 20:46:10.000000,1,1129478,170716.0,...,2019-04-10 19:03:48.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,0,NaN,NaN,16.566667
223633,1146550,86.74,149.59,2019-04-10 22:00:00.000000,2019-04-10 23:00:00.000000,2019-04-10 21:59:05.000000,2019-04-10 22:21:30.000000,1,1129530,154577.0,...,2019-04-10 19:33:04.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,0,28.050000,9.533333,22.416667
223634,1146570,32.97,25.87,2019-04-10 21:00:00.000000,2019-04-10 22:00:00.000000,2019-04-10 20:45:48.000000,2019-04-10 21:08:08.000000,1,1129550,153615.0,...,2019-04-10 19:48:02.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,0,6.783333,12.766667,22.333333
223635,1146600,92.57,100.76,2019-04-10 21:00:00.000000,2019-04-10 22:00:00.000000,2019-04-10 21:42:51.000000,2019-04-10 22:12:21.000000,1,1129580,161739.0,...,2019-04-10 19:59:38.000000,0,NaN,0.0,0.0,2019-04-11 14:25:10.676079,0,NaN,NaN,29.500000