In [84]:
!pip install pymysql

import pandas as pd
import sqlalchemy as db
import pymysql
import os.path

username="s24"
password = "Gph49ee6iqt9lxYR"

Requirement already satisfied: pymysql in /usr/local/lib/python3.6/dist-packages (0.9.3)

In [0]:
from datetime import datetime
def time_ms(started_on=None):
    """ Returns the time elapsed since given time in ms """
    return datetime.now() if started_on is None else int((datetime.now() - started_on).total_seconds() * 1000)

In [0]:
# connect to database instance, retrieve metadata on tables, etc
connection = "mysql+pymysql://" + username + ":" + password + "@s1.analitico.ai/s24"
engine = db.create_engine(connection)
connection = engine.connect()
metadata = db.MetaData()

In [0]:
def csv_to_table(filename, tablename, engine):
  df = pd.read_csv(filename)
  df.set_index("id", inplace=True)
  df.to_sql(tablename, engine, if_exists="replace")
  return df

# if you upload a file in this notebook, you can create the table starting from the file
# csv_to_table("order.csv", "order", engine)

In [0]:
def table_to_csv(tablename, engine):
  started_on = time_ms()
  table = db.Table(tablename, metadata, autoload=True, autoload_with=engine)
  print("Reading " + tablename)
  print(table.columns.keys())
  df = pd.read_sql(table.select(), engine)
  df.set_index('id', inplace=True)
  filename = tablename + ".csv"
  df.to_csv(filename)
  print("Converted %d rows from %s to %s in %d ms" % (len(df), tablename, filename, time_ms(started_on)))
  return df, filename

In [90]:
# read table from sql and write to file
df, filename = table_to_csv('order', engine)
df

Reading order
['id', 'whitelabel_id', 'contract_id', 'store_id', 'customer_id', 'courier_id', 'picker_id', 'fulfillment_type', 'customer_invoice_id', 'ref_id', 'ext_id', 'invoice_ref_id', 'status', 'deliver_at_start', 'deliver_at_end', 'amount', 'volume', 'site_amount', 'cash_paid_by_customer', 'discount_code', 'delivery_cost_fixed', 'delivery_cost_fixed_original', 'delivery_cost_fixed_real', 'delivery_cost_fixed_real_original', 'delivery_cost_percentage', 'delivery_cost_percentage_original', 'delivery_cost_discount', 'courier_total_refund', 'fuel_refund', 'store_customer_distance', 'store_customer_duration', 'global_travel_distance', 'global_travel_duration', 'delivery_moved', 'deleted_reason', 'deleted', 'invoice_required', 'invoice_received', 'invoice_status', 'v', 'gdo', 'vertical', 'sm_failure_status', 'created_at', 'updated_at', 'assigned_at', 'picked_at', 'paid_at', 'delivered_at', 'deleted_at']
Converted 176914 rows from order to order.csv in 30238 ms

,whitelabel_id,contract_id,store_id,customer_id,courier_id,picker_id,fulfillment_type,customer_invoice_id,ref_id,ext_id,...,gdo,vertical,sm_failure_status,created_at,updated_at,assigned_at,picked_at,paid_at,delivered_at,deleted_at
id,,,,,,,,,,,,,,,,,,,,,
20000,3,1000,2,2,4302,None,1,2,0000001000,None,...,0.0,0.0,0.0,2015-05-14 12:10:29,2018-10-03 15:38:03,2015-05-14 12:27:06,None,2015-05-14 13:06:45,2015-05-14 13:07:24,None
20002,3,1000,4,4,4302,None,1,None,0000001002,None,...,0.0,0.0,0.0,2015-05-14 12:16:29,2018-10-03 15:38:03,2015-05-14 12:24:03,None,2015-05-14 13:28:44,2015-05-14 13:35:48,None
20004,3,1000,6,6,4302,None,1,4,0000001004,None,...,0.0,0.0,0.0,2015-05-14 12:25:15,2018-10-03 15:38:03,2015-05-14 13:40:09,None,2015-05-14 13:51:43,2015-05-14 14:52:09,None
20006,3,1000,8,8,4302,None,1,6,0000001006,None,...,0.0,0.0,0.0,2015-05-14 12:26:36,2018-10-03 15:38:03,2015-05-14 13:52:22,None,2015-05-14 14:24:50,2015-05-14 14:51:24,None
20008,3,1000,10,10,4302,None,1,None,0000001008,None,...,0.0,0.0,0.0,2015-05-14 17:50:46,2018-10-03 15:38:03,2015-05-14 18:00:00,None,2015-05-14 18:42:23,2015-05-14 18:58:45,None
20010,3,1000,12,12,12029,None,1,None,0000001010,None,...,0.0,0.0,0.0,2015-05-14 17:53:46,2018-10-03 15:38:03,2015-05-14 18:43:15,None,2015-05-14 20:13:06,2015-05-14 20:19:27,None
20012,3,1000,14,14,3081,None,1,None,0000001012,None,...,0.0,0.0,0.0,2015-05-15 12:51:26,2018-10-03 15:38:03,2015-05-15 13:21:29,None,2015-05-15 14:07:18,2015-05-15 14:28:20,None
20014,3,1000,16,16,None,None,1,None,0000001014,None,...,0.0,0.0,0.0,2015-05-15 13:17:49,2015-10-07 17:11:52,None,None,None,None,2015-05-15 14:06:21
20016,3,1000,18,18,3777,None,1,None,0000001016,None,...,0.0,0.0,0.0,2015-05-15 19:30:16,2018-10-03 15:38:03,2015-05-15 19:45:03,None,2015-05-15 20:53:19,2015-05-15 21:04:08,None
20018,3,1000,20,20,12068,None,1,None,0000001018,None,...,0.0,0.0,0.0,2015-05-16 14:49:45,2015-07-08 11:18:16,2015-05-16 16:08:45,None,None,None,2015-05-16 17:21:43
20020,3,1000,22,22,None,None,1,None,0000001020,None,...,0.0,0.0,0.0,2015-05-16 19:09:09,2015-05-19 19:53:02,None,None,None,None,2015-05-16 19:43:00
20022,3,1000,24,24,None,None,1,None,0000001022,None,...,0.0,0.0,0.0,2015-05-16 20:15:41,2015-05-19 19:34:35,None,None,None,None,2015-05-16 21:00:07
20024,3,1000,26,26,None,None,1,None,0000001024,None,...,0.0,0.0,0.0,2015-05-16 21:40:36,2015-05-19 19:34:08,None,None,None,None,2015-05-16 22:02:31
20026,3,1000,28,28,None,None,1,None,0000001026,None,...,0.0,0.0,0.0,2015-05-18 07:38:13,2016-01-18 15:22:00,None,None,None,None,None
20028,3,1000,30,30,13864,None,1,None,0000001028,None,...,0.0,0.0,0.0,2015-05-18 13:19:15,2018-10-03 15:38:03,2015-05-18 13:38:36,None,2015-05-18 18:01:05,2015-05-18 18:14:55,None
20030,3,1000,32,32,5709,None,1,None,0000001030,None,...,0.0,0.0,0.0,2015-05-18 13:37:08,2015-05-28 12:30:05,2015-05-18 13:41:06,None,None,None,None
20032,3,1000,34,34,13035,None,1,None,0000001032,None,...,0.0,0.0,0.0,2015-05-18 18:23:59,2018-10-03 15:38:03,2015-05-18 18:35:04,None,2015-05-18 19:44:52,2015-05-18 20:07:02,None
20034,3,1000,36,36,None,None,1,None,0000001034,None,...,0.0,0.0,0.0,2015-05-18 20:17:12,2015-05-19 19:33:57,None,None,None,None,2015-05-18 21:06:18
20036,3,1000,38,38,None,None,1,None,0000001036,None,...,0.0,0.0,0.0,2015-05-18 20:30:21,2015-05-19 19:34:04,None,None,None,None,2015-05-18 21:06:11
20038,3,1000,40,40,None,None,1,None,0000001038,None,...,0.0,0.0,0.0,2015-05-19 17:05:10,2015-05-19 18:00:35,None,None,None,None,2015-05-19 17:06:08
20040,3,1000,42,42,13035,None,1,None,0000001040,None,...,0.0,0.0,0.0,2015-05-19 17:43:24,2018-10-03 15:38:03,2015-05-19 18:13:18,None,2015-05-19 18:52:52,2015-05-19 19:10:22,None
20042,3,1000,44,44,None,None,1,None,0000001042,None,...,0.0,0.0,0.0,2015-05-19 21:49:38,2015-05-19 22:10:26,None,None,None,None,2015-05-19 22:00:17
20044,3,1000,46,46,None,None,1,None,0000001044,None,...,0.0,0.0,0.0,2015-05-20 13:07:59,2015-05-21 16:05:16,None,None,None,None,2015-05-20 13:33:35
20046,3,1000,48,48,7270,None,1,None,0000001046,None,...,0.0,0.0,0.0,2015-05-20 13:37:15,2018-10-03 15:38:03,2015-05-20 13:38:26,None,2015-05-20 21:05:00,2015-05-20 21:26:19,None
20048,1,1000,50,50,1208,None,1,None,0000001000,None,...,0.0,0.0,0.0,2015-05-20 17:13:51,2018-10-03 15:38:03,2015-05-20 18:27:36,None,2015-05-20 19:12:07,2015-05-20 22:10:31,None
20050,1,1000,52,52,4393,None,1,None,0000001002,None,...,0.0,0.0,0.0,2015-05-20 17:47:58,2018-10-03 15:38:03,2015-05-20 18:45:08,None,2015-05-20 19:38:41,2015-05-20 19:53:49,None
20052,3,1000,54,54,None,None,1,None,0000001048,None,...,0.0,0.0,0.0,2015-05-20 20:20:26,2015-05-21 16:05:41,None,None,None,None,2015-05-20 20:59:55
20054,3,1000,56,56,14816,None,1,None,0000001050,None,...,0.0,0.0,0.0,2015-05-20 20:54:56,2018-10-03 15:38:03,2015-05-20 21:22:27,None,2015-05-20 22:04:31,2015-05-20 22:28:13,None
20056,1,1000,58,58,4701,None,1,None,0000001004,None,...,0.0,0.0,0.0,2015-05-21 08:39:31,2018-10-03 15:38:03,2015-05-21 19:52:31,None,2015-05-22 18:52:12,2015-05-22 19:07:51,None
20058,1,1000,60,60,14816,None,1,None,0000001006,None,...,0.0,0.0,0.0,2015-05-21 09:39:06,2018-10-03 15:38:03,2015-05-21 11:02:51,None,2015-05-21 15:43:21,2015-05-21 17:23:48,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374103,1,2701,354143,354179,7216,None,1,None,360367,None,...,0.0,0.0,0.0,2017-10-27 22:51:17,2018-10-03 15:28:08,2017-10-27 23:01:31,None,2017-10-28 09:26:39,2017-10-28 10:13:05,None
374105,1,2501,354145,354181,66400,None,1,None,360369,None,...,1.0,0.0,0.0,2017-10-27 22:57:36,2018-10-03 15:28:10,2017-10-27 22:59:53,None,2017-10-28 12:27:59,2017-10-28 13:44:03,None
374107,1,2601,354147,354183,108197,None,1,None,360371,None,...,3.0,0.0,0.0,2017-10-27 22:58:51,2018-10-03 15:28:11,2017-10-27 23:02:06,None,2017-10-30 10:08:05,2017-10-30 11:01:19,None
374109,1,2701,354149,354185,43046,None,1,None,360377,None,...,0.0,0.0,0.0,2017-10-27 23:03:49,2018-10-03 15:28:08,2017-10-27 23:07:22,None,2017-10-28 11:47:39,2017-10-28 12:17:27,None
374111,1,2601,354151,354187,None,None,1,None,360379,None,...,0.0,0.0,0.0,2017-10-27 23:07:12,2018-04-15 23:01:54,None,None,None,None,2017-10-27 23:29:15
374113,1,2503,354153,354189,107295,8,3,None,360381,None,...,1.0,0.0,0.0,2017-10-27 23:17:55,2018-10-03 15:28:08,2017-10-28 11:46:49,2017-10-27 23:17:55,2017-10-28 11:58:48,2017-10-28 12:10:25,None
374115,1,2501,354155,354191,6400,None,1,None,360383,None,...,4.0,0.0,0.0,2017-10-27 23:18:45,2018-10-03 15:28:10,2017-10-28 10:00:47,None,2017-10-28 13:05:56,2017-10-28 13:28:47,None
374117,1,2601,354157,354193,88022,None,1,None,360385,None,...,3.0,0.0,0.0,2017-10-27 23:23:15,2018-10-03 15:28:08,2017-10-27 23:26:32,None,2017-10-28 09:45:58,2017-10-28 10:05:10,None
374119,1,2601,354159,354195,65996,None,1,None,360387,None,...,0.0,0.0,0.0,2017-10-27 23:25:42,2018-10-03 15:28:10,2017-10-27 23:29:34,None,2017-10-28 13:50:13,2017-10-28 14:04:36,None
374121,1,2701,354161,354197,16287,None,1,None,360389,None,...,4.0,0.0,0.0,2017-10-27 23:27:14,2018-10-03 15:28:08,2017-10-27 23:27:50,None,2017-10-28 10:05:43,2017-10-28 10:27:04,None
374123,1,2501,354163,354199,65996,None,1,None,360391,None,...,1.0,0.0,0.0,2017-10-27 23:30:22,2018-10-03 15:28:10,2017-10-27 23:33:33,None,2017-10-28 12:35:43,2017-10-28 12:58:45,None
374125,1,2604,354165,354201,85635,None,3,None,360393,212508027,...,2.0,0.0,0.0,2017-10-27 23:38:34,2018-10-03 15:28:08,2017-10-28 08:15:11,None,2017-10-28 09:56:08,2017-10-28 10:38:42,None
374127,1,2701,354167,354203,106369,None,1,None,360395,None,...,0.0,0.0,0.0,2017-10-27 23:38:45,2018-10-03 15:28:08,2017-10-27 23:46:43,None,2017-10-28 10:22:20,2017-10-28 10:22:51,None
374129,1,2703,354169,354205,58312,6,3,None,360397,None,...,0.0,0.0,0.0,2017-10-27 23:48:07,2018-10-03 15:28:08,2017-10-28 10:55:00,2017-10-27 23:48:08,2017-10-28 12:32:24,2017-10-28 15:16:22,None
374131,1,2501,354171,354207,91022,None,1,None,360399,None,...,0.0,0.0,0.0,2017-10-27 23:49:10,2018-10-03 15:28:08,2017-10-27 23:58:31,None,2017-10-28 12:38:29,2017-10-28 13:12:10,None
374133,1,2701,354173,354209,104190,None,1,None,360401,None,...,3.0,0.0,0.0,2017-10-27 23:52:38,2018-10-03 15:28:12,2017-10-27 23:57:18,None,2017-10-31 09:47:08,2017-10-31 10:15:26,None
374135,1,2501,354175,354211,106895,None,1,None,360403,None,...,0.0,0.0,0.0,2017-10-27 23:54:13,2018-10-03 15:28:10,2017-10-28 00:03:51,None,2017-10-28 12:04:43,2017-10-28 12:58:08,None
374137,1,2701,354177,354213,108045,None,1,None,360405,None,...,0.0,0.0,0.0,2017-10-28 00:03:17,2018-10-03 15:28:10,2017-10-28 00:06:46,None,2017-10-28 12:37:40,2017-10-28 13:02:13,None
374139,1,2601,354179,354215,80763,None,1,None,360407,None,...,3.0,0.0,0.0,2017-10-28 00:23:01,2018-10-03 15:28:10,2017-10-28 00:26:24,None,2017-10-28 19:32:46,2017-10-28 20:01:03,None
374141,1,2503,354181,354217,67240,8,3,None,360409,None,...,1.0,0.0,0.0,2017-10-28 00:32:11,2018-10-03 15:28:10,2017-10-28 18:12:56,2017-10-28 00:32:11,2017-10-28 18:30:06,2017-10-28 18:59:14,None
374143,1,2501,354183,354219,87802,None,1,None,360411,None,...,0.0,0.0,0.0,2017-10-28 00:41:20,2018-10-03 15:28:10,2017-10-28 00:44:41,None,2017-10-28 14:48:35,2017-10-28 15:11:35,None
374145,1,2601,354185,354221,63392,None,1,None,360413,None,...,1.0,0.0,0.0,2017-10-28 00:48:11,2018-10-03 15:28:10,2017-10-28 00:51:36,None,2017-10-28 15:09:52,2017-10-28 16:10:20,None
374147,1,2601,354187,354223,80763,None,1,None,360415,None,...,3.0,0.0,0.0,2017-10-28 00:57:43,2018-10-03 15:28:10,2017-10-28 01:01:17,None,2017-10-28 16:05:50,2017-10-28 16:31:55,None
374149,1,2501,354189,354225,81839,None,1,None,360417,None,...,0.0,0.0,0.0,2017-10-28 00:58:01,2018-10-03 15:28:10,2017-10-28 08:01:20,None,2017-10-28 15:54:03,2017-10-28 16:22:29,None
374151,1,2501,354191,354227,105816,None,1,None,360419,None,...,3.0,0.0,0.0,2017-10-28 01:28:53,2018-10-03 15:28:10,2017-10-28 01:31:49,None,2017-10-28 16:22:12,2017-10-28 17:21:53,None
374153,1,2601,354193,354229,88022,None,1,None,360421,None,...,0.0,0.0,0.0,2017-10-28 01:53:31,2018-10-03 15:28:10,2017-10-28 01:57:22,None,2017-10-28 16:12:28,2017-10-28 16:31:09,None
374155,1,2601,354195,354231,None,None,1,None,360423,None,...,0.0,0.0,0.0,2017-10-28 02:01:05,2018-04-15 23:01:54,None,None,None,None,2017-10-28 02:02:02
374157,1,2703,354197,354233,9825,12,3,None,360425,None,...,0.0,0.0,0.0,2017-10-28 02:13:43,2018-04-15 23:01:54,2017-10-30 10:59:40,2017-10-28 02:13:45,2017-10-30 11:43:25,None,2017-10-30 12:10:19
374159,1,2501,354199,354235,79987,None,1,None,360427,None,...,3.0,0.0,0.0,2017-10-28 02:19:53,2018-10-03 15:28:10,2017-10-28 02:25:45,None,2017-10-28 17:10:21,2017-10-28 17:27:26,None
374161,1,2703,354201,354237,106417,6,3,None,360429,None,...,NaN,NaN,NaN,None,None,None,None,None,None,None

In [0]:
f = open(filename, 'r')
f.read()